.Clue1 {
  height: 100%;
  width: 100%;
}

.Clue1 > div {
  height: 100%;
  background: url("./assets/clue1.png") center center / contain no-repeat;
}

.Clue2 {
  height: 100%;
  background: url("./assets/clue2.png") center center / contain no-repeat;
}
.Clue3 {
  height: 100%;
  background: url("./assets/clue4.png") center center / contain no-repeat;
}
.Clue4 {
  height: 100%;
  background: url("./assets/clue4.png") center center / contain no-repeat;
}
.Clue5 {
  height: 100%;
  background: url("./assets/clue5.png") center center / contain no-repeat;
}
.Clue6 {
  height: 100%;
  background: url("./assets/clue6.png") center center / contain no-repeat;
}
.Clue7 {
  height: 100%;
  background: url("./assets/clue7.png") center center / contain no-repeat;
}
.Clue7 a {
  background-color: white;
  color: #7a377c;
  font-size: 20px;
  padding: 15px;
  width: 80%;
  border-radius: 40px;
  position: absolute;
  bottom: 7%;
  left: 10%;
}


.fake {
  height: 100%;
  background: url("../Fake/fake.png") center center / contain no-repeat;
}