:root {
  font-family: "MyFont";
  src: local("MyFont"), url("./fonts/Komika-Sans-DEMO.otf") format("woff");
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e30069;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}
@font-face {
  font-family: "Komika";
  src: local("Komika"), url("./fonts/Komika-Sans-DEMO.otf") format("truetype");
  font-weight: 100;
}
body {
  margin: 0 auto;
  padding: 0;

  min-width: 300px;
  max-width: 480px;
  min-height: 100vh;
  width: 100%;
  font-family: "Komika";
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
